<main>
  <section class="bv-container">
    <h1>Welcome Home: h1</h1>
    <h2>Some h2 text</h2>
    <h3>h3 text</h3>
    Would you like to <a [routerLink]="['/q']" routerLinkActive="router-link-active" >take a survey</a>? 
  </section>
</main>
 