<footer class="bv-footer">
  <section class="bv-footer__container">
    <h6 class="igx-typography__h5 bv-footer__title">Build something amazing today.</h6>
    <span class="igx-typography__body-1 bv-footer__copyright">© {{ copyrightYear }} BlakeVaughn.com. All rights reserved.</span>
    <span>
      <a [routerLink]="['/legal/terms-and-conditions']" routerLinkActive="router-link-active">Terms And conditions</a> |
      <a [routerLink]="['/legal/privacy']" routerLinkActive="router-link-active">Privacy Policy</a> |
      <a [routerLink]="['/legal/cookies-policy']" routerLinkActive="router-link-active">Cookies Policy</a>
    </span>
    <!-- <img src="YOUR-LOGO-FILE-HERE" alt="Creatr Logo" class="bv-footer__logo"/> -->
  </section>
</footer>